html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.dot {
  background: red;
  position: absolute;
  top:50%;
  left:50%;
  width: 5px;
  height: 5px;
  margin-top: -2.5px;
  margin-left: -2.5px;
  z-index: 1;
}

.virgil {
  position: fixed;
  top: 0%;
  left: 50%;
  height: 100%;
  transform-origin: 6.89% 43.78%;
}

.background_virgil img {
  position: absolute;
  top: 400px;
  left: -1218px;
  transform:
    scale(7.89)
    rotate3d(0,0,1, -9.5deg);
  z-index: 0;
}

.big_virgil {
  top: 0%;
  left: 50%;
  height: 100%;
  transform: translate(-50%);
}

.big_virgil img {
  height: 100%;
  z-index: 1;
}

.small_virgil {
  position: absolute;
  top: -6.03%;
  left: -43.5%;
  transform:
    rotate3d(0,0,1, 9.5deg)
    scaleX(0.043)
    scaleY(0.043);
  background: black;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.small_virgil img {
  position: absolute;
  width: 101%;
  height: 101%;
  opacity: 0.8;
  z-index: 3;
}
